@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  reference: 
  - https://m3.material.io/styles/color/roles
  - https://m2.material.io/design/color/the-color-system.html#color-theme-creation
*/

:root {
	/*SURFACE*/
	--surface: #ffffff;
	--on-surface: #5a6474;
	--surface-container: #e1e3e6;
	--surface-container-low: #f1f2f3;
	--surface-container-lowest: #f8f8f8;

	/*PRIMARY*/
	--primary: #5a6474;
	--on-primary: #f8f8f8;
	--primary-container: #e1e3e6;
	--on-primary-container: #757d8a;

	/*SEMANTIC*/
	--error: #e86a6a;
	--on-error: #ffffff;
	--disabled: #f1f2f3;
	--on-disabled: #e1e3e6;

	/*DEFAULT*/
	--default-shadow: rgba(0, 0, 0, 0.05) 0px 0px 4px, rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

/*OVERIDE BUTTON VARIANT*/
.btn.menu:hover {
	background: var(--primary-container);
}
.btn.menu.isActive,
.btn.menu.isActive:hover {
	color: var(--primary) !important;
	background: none !important;
}
.btn.menu.isActive::after {
	content: '';
	position: absolute;
	left: 0.5rem;
	top: 1.8rem;
	width: calc(100% - 1rem);
	height: 3px;
	background: var(--primary);
	border-radius: 9999px;
}
