/*
  reference: 
  - https://m3.material.io/styles/color/roles
  - https://m2.material.io/design/color/the-color-system.html#color-theme-creation
*/

:root {
	/*SURFACE*/
	--surface: #ffffff;
	--on-surface: #5a6474;
	--surface-container: #f1f2f3;
	--surface-container-low: #f8f8f8;

	/*PRIMARY*/
	--primary: #5a6474;
	--on-primary: #f8f8f8;
	--primary-container: #757d8a;

	/*SEMANTIC*/
	--error: #b80672;
	--on-error: #ffffff;
	--disabled: #f1f2f3;
	--on-disabled: #c3c7ce;
	--default-shadow: rgba(0, 0, 0, 0.05) 0px 0px 4px, rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}
